# Root EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
# Disable linting for Kotlin files
kotlin.format = false
kotlin.formatter.disable = true
ktlint_disabled_rules = all

[*.java]
# Disable linting for Java files
java.format = false

[*.{gradle,xml,json}]
indent_size = 2 