*.iml
/AndroidSDK/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/PayTheorySDK/install.gradle
/PayTheorySDK/bintray.gradle
/.gradle/
/build/
/.idea/
/ExampleApp/.idea/gradle.xml
/ExampleApp/.idea/misc.xml
/ExampleApp/.idea/modules.xml
/ExampleApp/.idea/vcs.xml
/AndroidSDK/publishingKey.gpg
/local.properties
signing-key